.ipynb_checkpoints/
strong-lensing/cosmic_horseshoe_90.fits
strong-lensing/cosmic_horseshoe_180.fits
strong-lensing/cosmic_horseshoe_270.fits
strong-lensing/.ipynb_checkpoints/README-checkpoint.md
strong-lensing/.ipynb_checkpoints
